**/synclogs
**/testlogs
**/__pycache__
**/.DS_Store
testsuite_tune_app/update_easteregg/device_parameters.py
testsuite_firmware_api_tests/api_tests/api_parameters.py
*sync*.exe
**/.idea
**/reports
WinApp/winapp_Shortcut.lnk
/venv/
properties.LOCAL
/apps/installers/LogiTuneInstall2.200.265.exe
/testsuite_firmware_api_tests/update_tests/aw_*.txt
/WinApp/tmp_read.txt
/firmware_tunes/easterEgg/*
/testsuite_tune_app/update_easteregg/netshare/
/testsuite_tune_app/netshare/
testsuite_firmware_api_tests/api_tests/netshare/
testsuite_sync_app/geckodriver.log
client_secret.json
sheets.googleapis.com-python.json
service-account.json
apps/tune/logi_sync_personal_collab/logi_sync_personal_collab_utils/LogiSyncPersonalCollab*
apps/tune/logi_sync_personal_collab/logi_sync_personal_collab_utils/ProvisioningToken.json
apps/tune/logi_sync_personal_collab/logi_sync_personal_collab_utils/logs/*.txt
